body {
  font-family: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.manrope-thin {
  font-family: "Manrope", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.manrope-light {
  font-family: "Manrope", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.manrope-medium {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.manrope-semibold {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.manrope-bold {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-style: normal;
}
